
.dark-bg{
	background: #000;
}

.dark-view{
	background: #191919 !important;
	border-color: #191919 !important;
	color: #fff !important;
}

/**
 * dark  (深色模式)
 */

/* 按钮相关颜色 */
.dark-btn-special{
	background-color: #2d6ec4 !important;
	color: #ffff !important;
}
.dark-btn-primary{
	background-color: #ffffff !important;
	color:#191919 !important;
}
/* 文字基本颜色 */
.dark-text-primary{
	color: #ffffff !important;
}
.dark-text-dark{
	color: #333333 !important;
}
.dark-text-light{
	color: #ffffff !important;
}
/* 背景颜色 */
.dark-bg-primary{
	background-color:#131619!important;
}
.dark-sepcial-reverse{
	background-color: #191D23 !important;
}
.dark-bg-special{
	background-color:#191D23!important;
}
.dark-bg-general{
	background-color:#191D23!important;
}
/*反色背景色*/
.dark-bg-reverse{
	background-color:#131619!important;
}
.dark-bg-subSec{
	background-color:#191D23!important;
}
.dark-bg-tips{
	background-color:#191D23 !important;
}
/* 边框颜色 */
.dark-border{
	border-color: #c8c7cc !important;
}
/*盒阴影*/
.dark-box-shadow{
	box-shadow: 0px 0px 3px 0px #ccc !important;
}
/*首页通知公告背景色*/
.dark-bg-notice{
	background-color: #191D23  !important;
}
/*mask  遮挡层背景色*/
.dark-bg-mask{
	background-color: #3f3f3f  !important;
}
 


// /**
//  * light  (浅色色模式)
//  */
// /* 按钮相关颜色 */
// .light-btn-special{
// 	background-color: #2d6ec4 !important;
// 	color: #ffff !important;
// }
// .light-btn-primary{
// 	background-color: #ffffff !important;
// 	color: #333333 !important;
// }
// /* 文字基本颜色 */
// .light-text-primary{
// 	color: #333333 !important;
// }
// .light-text-dark{
// 	color: #ffffff !important;
// }
// .light-text-light{
// 	color: #666666 !important;
// }
// /* 页面整体背景颜色 */
// .light-bg-primary{
// 	background-color: #f6f6f6 !important;
// }
// /* 布局背景颜色 */
// .light-bg-special{
// 	background-color: #2d6ec4 !important;
// }
// .light-sepcial-reverse{
// 	background-color:#eeeeef !important;
// }
// //分段器
// .light-bg-subSec{
// 	background-color:#0551B5!important;
// }
// /*反色背景色*/
// .light-bg-reverse{
// 	background-color:#ffffff !important;
// }
// //分段器
// .light-bg-tips{
// 	background-color:#FFFCEE!important;
// }
// /* 布局背景颜色 */
// .light-bg-general{
// 	background-color: #ffffff !important;
// }
// /* 边框颜色 */
// .light-border{
// 	border-color: none !important;
// }
// /*盒阴影*/
// .light-box-shadow{
// 	box-shadow:none  !important;
// }
// /*首页通知公告背景色*/
// .light-bg-notice{
// 	background-color: #F7FAFF !important;
// } 
// /*mask  遮挡层背景色*/
// .light-bg-mask{
// 	background-color: rgba(0, 0, 0, 0.2) !important;
// }

// *{
// 	background: #000;
// 	color: #fff;
// }
